.startGame {
    background: cornflowerblue;
}

.timeRemaining {
    background: yellow;
    display: none;
}

.questions {
    background: olive;
    display: none;
}

.answers {
    background: pink;
    display: none;
}

.endGame {
    background: orangered;
    display: none;
}

.submitArea {
    display: none;
}

.score {
    display: none;
}